<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="createAccountForm">
      <h1>Create Account</h1>
      <form id="createAccountForm" method="POST" action="/createAccount">
        <label for="username">Username:</label>
        <input type="text" name="username" value="<%= username %>" />
        <br />
        <br />
        <label for="username">Choose Password:</label>
        <input type="password" name="password" />
        <br />
        <br />
        <button
          class="createAccountButton"
          onclick="this.form.submit()"
          type="submit"
        >
          Create
        </button>
      </form>
    </div>
  </body>
</html>
