<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Subscriptions Page</h1>
    <div class="subscriptionFormAndButtonAndCancelButton">
      <div class="subscriptionFormAndButton">
        <form
          id="newSubscriptionForm"
          method="POST"
          action="/subscriptions/new/<%= memberId %>"
        >
          <select name="subscribe">
            <% sub.forEach(s => { %>
            <option value="<%= s._id %>"><%= s.Name %></option>
            <% }) %>
          </select>
          <button onclick="this.form.submit()" type="submit">Subscribe</button>
        </form>
      </div>
      <div class="backToSubscriptionsPageButton">
        <button><a href="/subscriptions">Cancel</a></button>
      </div>
    </div>
  </body>
</html>
